<%- include('./includes/header') %>
</head>

<body>
    <main>
        <h1> Todo List</h1>
        <form class="task-add-form" action="/add-task" method="post">
            <div class="form-control">
                <input type="text" name="task">
                <button class="btn add-btn" type="submit"> + </button>
            </div>
        </form>
        <% if (tasks.length <= 0) { %>
            <h1>Nothing there</h1>
        <% } else { %>
            <ul class="tasks">
                <% tasks.forEach((task, index) => { %>
                    <div class="list-task">
                        <li class="task__item">
                            <input id = "<%= task._id %>" class="task__input" type="text" value="<%= task.taskDesc %>" readOnly = true>
                        </li>
                        <form class="task-delete-form" action="/delete-task" method="post">
                            <input class="deleteTaskId" type="hidden" value=<%= task._id %> name="taskId">
                            <button id='delete-button' class="btn delete-btn" type="submit">X</button>
                        </form>
                        <form class="task-put-form" action="/update-task" method="post">
                            <input class="updateTaskId" type="hidden" value=<%= task._id %> name="taskId">
                            <input class="updateTaskValue" type="hidden" value="<%= task.taskDesc %>"" name="taskDesc">
                            <button id=<%= index %> class="btn put-btn" type="button" onclick="clickTest('<%= task._id %>',<%= index %>)">수정</button>
                        </form>
                    </div>
                <% }) %>
            </ul>
        <% } %>
    </main>
    <script>
        let button = document.getElementsByClassName('put-btn');
        
        const clickTest = (task_id, index) => {
            console.log('clickTest');
            const taskInput = document.getElementById(task_id);
            const sendButton = document.getElementById(index);
            taskInput.readOnly = taskInput.readOnly ? false : true; 

            changeValue(index, taskInput, sendButton);
            changeButton(taskInput, sendButton);
        }
        
        const changeButton = (input, button) => {
                if (input.readOnly) {
                    button.type = "submit"
                } else {
                    button.type = "button"
                }
            console.log(button.type)
        }

        const changeValue = (index, input, button) => {
            const updateInput = document.getElementsByClassName('updateTaskValue')[index];
            input.setAttribute('value', input.value);
            updateInput.setAttribute('value', input.value);
            console.log(`this is a Input values ${input.value}`)
            
            console.log(`this is a updateInput values ${updateInput.value}`)
        }
        
        // input text를 가져올 데이터
        const getRaw = (taskInput) => {
            const raw = {taskId: taskInput.id , taskDesc: taskInput.value}
            return raw;
        }
    </script>
</body>

<%- include('./includes/footer.ejs') %>