<%- include('./includes/header') %>
</head>

<body>
    <main>
        <h1 class="text-3xl font-bold underline"> Todo List</h1>
        <form class="task-add-form" action="/add-task" method="post">
            <div class="form-control">
                <input type="text" name="task">
                <button class="btn add-btn" type="submit"> + </button>
            </div>
        </form>
        <% if (tasks.length <= 0) { %>
            <h1>Nothing there</h1>
        <% } else { %>
            <ul class="tasks">
                <% tasks.forEach((task, index) => { %>
                    <div class="list-task">
                        <li class="task__item">
                            <input id = "<%= task._id %>" class="task__input" type="text" value="<%= task.taskDesc %>" readOnly = true>
                        </li>
                        <form class="task-delete-form" action="/delete-task" method="post">
                            <input class="deleteTaskId" type="hidden" value=<%= task._id %> name="taskId">
                            <button id='delete-button' class="btn delete-btn" type="submit">X</button>
                        </form>
                        <form class="task-put-form" action="/update-task" method="post">
                            <input class="updateTaskId" type="hidden" value=<%= task._id %> name="taskId">
                            <input class="updateTaskValue" type="hidden" value="<%= task.taskDesc %>"" name="taskDesc">
                            <button id=<%= index %> class="btn put-btn" type="button" onclick="updateClick('<%= task._id %>',<%= index %>)">수정</button>
                        </form>
                    </div>
                <% }) %>
            </ul>
        <% } %>
    </main>
    <script>
        
    </script>
</body>

<%- include('./includes/footer.ejs') %>